@charset "UTF-8";
body {
  margin: 0;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

img {
  max-width: 100%;
}

.custom-section {
  padding: 60px 0;
}

.custom-tabs {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 25px 0;
  font-size: 15px;
  color: #000000;
  line-height: 1.3;
  min-width: 320;
}
.custom-tabs *,
.custom-tabs *::before,
.custom-tabs *::after {
  box-sizing: border-box;
}

.custom-tabs__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1384px;
  padding: 0 20px;
}
.custom-tabs__header {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
}
.custom-tabs__title {
  margin: 0;
  font-size: 40px;
  line-height: 1;
  color: #000000;
  font-weight: 700;
  text-transform: none;
}
.custom-tabs__subtitle {
  margin: 0;
  display: block;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-transform: uppercase;
}
.custom-tabs__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10px;
}
.custom-tabs__item {
  width: 100%;
  max-width: 100%;
  background-color: #ebb14f;
  color: #000000;
  margin: 0;
  list-style: none;
  position: relative;
}
.custom-tabs__item::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #fae9cc;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}
.custom-tabs__item--2 {
  background-color: #ffbc2d;
}
.custom-tabs__item--3 {
  background-color: #fb8700;
}
.custom-tabs__image {
  position: relative;
  transform: translateY(-20px);
  margin: 0 auto;
  margin-bottom: -20px;
  max-width: 205px;
}
.custom-tabs__image img {
  display: block;
}
.custom-tabs__info {
  position: relative;
  padding: 0 40px;
}
.custom-tabs__label {
  display: block;
  margin: 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.custom-tabs__name {
  display: block;
  margin: 0;
  color: var(--black, #000);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.custom-tabs__pice {
  display: block;
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 16px;
}
.custom-tabs__details {
  position: relative;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 10px 10px;
}
.custom-tabs__details .cust-btn {
  max-width: 100%;
  background-color: inherit;
  color: #000;
  border: 1px solid #fae9cc;
}
.custom-tabs__details .cust-btn:hover, .custom-tabs__details .cust-btn:focus {
  background-color: #fff;
}
.custom-tabs__item-content {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #fff;
  color: #000;
  padding: 15px 20px 20px;
  min-height: 0;
  display: none;
}
@media (max-width: 767px) {
  .is-active + .custom-tabs__item-content {
    display: block;
  }
}
.custom-tabs__details .cust-btn:not(:first-of-type) {
  margin-top: initial;
  margin-left: -1px;
  margin-right: -1px;
  max-width: calc(100% + 1px);
  width: calc(100% + 1px);
}

.cust-btn {
  padding: 23px 20px;
  max-width: max-content;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cust-btn--icon {
  display: flex;
  align-items: center;
  position: relative;
}
.cust-btn--icon::after {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 1L5 5L1 1' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");
  width: 10px;
  height: 6px;
  margin-left: 6px;
}
.cust-btn--icon:hover::after, .cust-btn--icon:focus::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 1L5 5L1 1' stroke='%23FFBC2D' stroke-width='2'/%3e%3c/svg%3e ");
}
.cust-btn.is-active {
  background-color: #fff;
  color: #000000;
  border-color: #ffffff;
}
.cust-btn.is-active::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 6L5 2L1 6' stroke='%23FFBC2D' stroke-width='2'/%3e%3c/svg%3e ");
}

.item-content__list-grid {
  padding-bottom: 5px;
  position: relative;
}
.item-content__list-grid:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.item-content__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item-content__list li {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
.item-content__list li span {
  color: #000000;
  font-weight: 600;
  vertical-align: top;
}
.item-content__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.item-content__photo {
  width: 100%;
  height: 100%;
}
.item-content__photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-content__option {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 4px;
  background: var(--white, #fff);
  padding: 12px 10px;
}
.item-content__option label {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}
.item-content__option label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #bd0f10;
  border-radius: 4px;
  margin-right: 12px;
  color: #fff;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.item-content__option input[type=radio]:checked + label::before {
  content: "✓";
}
.item-content__buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.item-content__buttons .cust-btn {
  border-radius: 4px;
  background: #c50000;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  max-width: 100%;
  width: 100%;
  padding: 14px 20px;
  border-color: #c50000;
}
.item-content__buttons .cust-btn--transparent {
  background-color: transparent;
  color: #c50000;
}
.item-content__buttons .cust-btn:hover, .item-content__buttons .cust-btn:focus {
  border-color: #f80000;
  background-color: #f80000;
  color: #fff;
}
.item-content__slider-wrap {
  position: relative;
  margin-bottom: 14px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #bd0f10;
  color: #fff;
  border-radius: 4px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 14px;
  color: #fff;
}

.swiper-button-next {
  right: -10px;
}

.swiper-button-prev {
  left: -10px;
}

.custom-tabs__desktop {
  display: none;
}

@media (min-width: 768px) {
  .custom-tabs__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
  }
  .custom-tabs__image {
    transform: translateY(-30px);
    margin-bottom: -30px;
    max-width: 164px;
  }
  .custom-tabs__info {
    padding: 0 30px;
  }
  .custom-tabs__pice {
    font-size: 24px;
  }
  .custom-tabs__name {
    font-size: 20px;
  }
  .custom-tabs__details {
    grid-template-columns: repeat(1, 1fr);
  }
  .item-content {
    list-style: none;
    margin: 0;
    display: none;
    border: 10px solid #ebb14f;
    padding: 24px 30px 30px;
    background-color: #fff;
  }
  .custom-tabs__desktop {
    display: block;
  }
  .item-content__buttons {
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
    max-width: max-content;
    margin: 0;
    margin-left: auto;
  }
  .item-content__buttons .cust-btn--transparent {
    border: 1px solid #c50000;
  }
  .item-content__buttons .cust-btn {
    padding: 19px 10px;
  }
  .item-content__title {
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 30px;
  }
  .item-content__slider-wrap {
    margin-bottom: 30px;
  }
  .custom-tabs__title {
    font-size: 90px;
  }
  .custom-tabs__header {
    margin-bottom: 70px;
  }
  .custom-tabs__details .cust-btn:not(:first-of-type) {
    margin-top: -1px;
  }
  .custom-tabs__desktop {
    position: relative;
    z-index: 2;
  }
  #details-2 {
    border-color: #ffbc2d;
  }
  #details-3 {
    border-color: #fb8700;
  }
  .custom-tabs__item.is-active {
    margin-bottom: -30px;
  }
  .custom-tabs__details .tabs-btn.is-active {
    padding: 33px 20px;
  }
  .custom-tabs__details .cust-btn:not(:first-of-type) {
    margin-top: -1px;
    margin-left: initial;
    margin-right: initial;
    max-width: 100%;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .custom-tabs__header {
    margin-bottom: 58px;
  }
  .custom-tabs__image {
    max-width: 205px;
  }
  .custom-tabs__name {
    font-size: 24px;
  }
  .custom-tabs__pice {
    font-size: 30px;
  }
  .custom-tabs__details {
    grid-template-columns: repeat(2, 1fr);
  }
  .custom-tabs__details .cust-btn:not(:first-of-type) {
    margin-top: initial;
    margin-left: -1px;
    margin-right: -1px;
    max-width: calc(100% + 1px);
    width: calc(100% + 1px);
  }
  .item-content__list-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1380px) {
  .custom-tabs__header {
    grid-template-columns: 1fr 362px;
    margin-bottom: 60px;
  }
  .custom-tabs__image {
    transform: translateY(-40px);
    margin-bottom: -40px;
    max-width: 276px;
  }
  .item-content__list-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .custom-tabs__title {
    font-size: 120px;
  }
  .custom-tabs__header {
    gap: 25px;
  }
}